/* 调整 Element Plus 消息提示的样式 */
.el-message {
    --el-message-min-width: 180px !important;
    --el-message-padding: 10px 12px !important;
}

.el-message .el-message__icon {
    font-size: 16px !important;
    margin-right: 6px !important;
}

.el-message__content {
    font-size: 14px !important;
} 